.storyLoader {
  display: flex;
  gap: 2px;

  .bar {
    background-color: rgba(var(--loader-color), 0.35);
    height: 2px;
    flex: 1;
    position: relative;

    span.current {
      background-color: rgb(var(--loader-color));
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
    }
  }
}
