:root {
  --font-family: Helvetica, Arial, sans-serif;
  --primary-font-size: 14px;
  --secondary-font-size: 12px;
  --primary-color: #000;
  --secondary-color: #444;
  --loader-color: 255, 255, 255;
}
